
body {
  background: url(https://www.shutterstock.com/image-photo/field-young-corn-on-sunny-600nw-2441733147.jpg);
  background-size: cover;
  background-position: bottom center ;
  height: 38rem;
  margin: 0;
}

